#root, body{
  margin: 0;
}

@media (min-width: 1200px) {
  .home-page-wrapper{
    display: grid;
    grid-template-columns: 576px 576px;
    gap: 1rem;
  }
}

@media (max-width: 1199px) {
  .home-page-wrapper{
    display: grid;
    grid-template-columns: 576px;
    gap: 1rem;
  }
}

.rules-wrapper > p{
  color: #CCC;
  margin: 1rem;
}

.max-width-mid{
  width: 576px;
}

.tiny-text{
  font-size: 0.75rem;
  vertical-align: middle;
}

.flex-wrapper-center{
  display: flex;
  justify-content: center;
}

.flex-wrapper-flex-end{
  display: flex;
  justify-content: flex-end;
}

.App{
  background-color: #222;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.loading-page{
  color: #CCC;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  margin: 5rem;
}

.loading-page-letter:nth-child(odd){
  animation: blue-to-white 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

.loading-page-letter:nth-child(even){
  animation: white-to-blue 5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes blue-to-white{
  0% {color: #006;}
  50% {color: #CCC;}
  100% {color: #006;}
}

@keyframes white-to-blue{
  0% {color: #CCC;}
  50% {color: #006;}
  100% {color: #CCC;}
}

.nav-button-group-wrapper{
  margin: 1rem 2rem;
}

.nav-button{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.375rem;
}

.logo-button{
  background: linear-gradient(150deg, #222 0% 60%, #400 70%, #FF6F6F 85%, #006 100%);
  background-position: 0% 0%;
  background-size: 400%;
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.25rem;
}

.logo-button:hover{
  background-position: 100% 100%;
  transition: background-position 350ms;
}

.nav-wrapper{
  background-color: #333;
  border-bottom: solid #2b2b2b 2px;
  display: flex;
  justify-content: space-between;
}

.message-grid{
  background-color: #2b2b2b;
  border-radius: 0.375rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 100%;
  margin-top: 1rem;
}

.message-cell{
  align-items: center;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 0.375rem;
  color: #bbb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0.125rem;
}

.sign-in-form{
  align-items: center;
  border: solid #CCC 2px;
  border-radius: 0.5rem;
  color: #CCC;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.sign-in-form h3{
  font-size: 2rem;
  text-align: center;
}

.sign-in-input{
  background-color: #222;
  border: solid #CCC 2px;
  border-radius: 0.25rem;
  color: #CCC;
  height: 1.1rem;
}

.sign-up-input-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 1.5rem 2rem 2rem;
}

.log-in-input-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2rem 1.5rem 2rem;
}

.sign-in-form button{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.375rem;
}

.sign-in-form button:hover{
  background-position: 100% 100%;
  transition: background-position 350ms;
}

.sign-in-error{
  background-color: #222;
  border: solid rgba(255, 0, 0, 0.5) 2px;
  border-radius: 0.25rem;
  color: rgba(255, 0, 0, 0.5);
  display: inline-block;
  height: 1.1rem;
  margin: 0.125rem;
  padding: 0.25rem;
}

.sign-in-error-wrapper{
  display: flex;
  flex-flow: column nowrap;
  margin: 0rem 0rem 0.5rem 0rem;
}

.sign-up-success{
  background-color: #222;
  border: solid rgba(0, 0, 255, 0.5) 2px;
  border-radius: 0.25rem;
  color: #CCC;
  display: inline-block;
  height: 1.1rem;
  margin: 0.125rem;
  padding: 0.25rem;
}

.message-window-wrapper{
  border: solid #CCC 2px;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;
}

.message-window-top-wrapper{
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.message-window-location, .message-window-username{
  color: #CCC;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.message-window-close-button{
  color: #CCC;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0rem 0.5rem;
}

.message-window-text-area{
  background-color: #CCC;
  border: solid #CCC 2px;
  border-radius: 0.25rem;
  color: #222;
  margin: 1rem;
}

.message-window-submit-button:hover{
  background-position: 100% 100%;
  transition: background-position 350ms;
}

.message-window-count-success{
  color: #CCC;
  margin: 0rem 1rem;
}

.message-window-count-fail{
  color: #C22;
  margin: 0rem 1rem;
}

.message-window-msg{
  background-color: #CCC;
  border: solid #CCC 2px;
  border-radius: 0.25rem;
  color: #222;
  margin: 1rem;
  min-height: 4rem;
  padding: 0.25rem;
}

.message-window-button{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.375rem;
}

.message-window-final-delete-button{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.125rem;
}

.no-message-posted{
  align-items: center;
  border: solid #CCC 2px;
  border-radius: 0.5rem;
  color: #CCC;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.cursor-pointer{
  cursor: pointer;
}

.d-modal{
  color: #CCC;
  margin: 1rem;
}

.bug-textarea-wrapper{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  margin: 1rem;
  padding: 1rem;
}

.bug-textarea-form{
  display: flex;
  flex-direction: column;
  width: max(500px, 2rem);
}

.bug-textarea-button{
  border-radius: 0.5rem;
  border: #CCC solid 2px;
  color: #CCC;
  cursor: pointer;
  margin: 0.375rem;
}

.foot-wrapper{
  background-color: #333;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.foot-link-wrapper{
  color: #CCC;
  margin: 1rem 0.5rem;
}

.foot-link-wrapper:hover{
  text-decoration: underline;
}

.foot-link-wrapper > a:link, a:visited, a:hover{
  color: #CCC;
  text-decoration: underline;
}

.foot-link-wrapper > a:active{
  color: #006;
}

.foot-link:hover{
  text-decoration: underline;
}

.red-on-hover{
  background: linear-gradient(150deg, #222 0% 60%, #400 75%, #600 100%);
  background-position: 0% 0%;
  background-size: 500%;
}

.red-on-hover-secondary{
  background: linear-gradient(150deg, #2B2B2B 0% 50%, #400 75%, #600 100%);
  background-position: 0% 0%;
  background-size: 500%;
}

.blue-on-hover{
  background: linear-gradient(150deg, #222 0% 60%, #004 75%, #006 100%);
  background-position: 0% 0%;
  background-size: 500%;
}

.red-on-hover:hover, .red-on-hover-secondary:hover, .blue-on-hover:hover{
  background-position: 100% 100%;
  transition: background-position 350ms;
}